:root {
  --black: #1a1b22;
  --blue: #2f71e5;
  --red: #ff0000;
  --blue-click: #2a65cc;
  --grey-hover: #e8e8e8;
  --faded-grey: #b6bcbf;
  --button-disabled: #e6e8eb;
  --grey-background: #f5f6f7;
  --grey-light: #d1d2d6;
}
