.newsCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.newsCard__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
  object-position: top;
}

.newsCard__button {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.newsCard__keyword {
  position: absolute;
  left: 24px;
  top: 23px;
  display: flex;
  flex-direction: revert;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 40px;
  padding: 1px 20px;
}

.newsCard__keyword-text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.newsCard__info {
  text-align: left;
  padding: 17px 24px 24px 24px;
}

.newsCard__date {
  font-family: "Source Sans Pro";
  color: var(--faded-grey);
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.newsCard__title {
  font-family: "Roboto Slab";
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 16px 0;
  min-height: 60px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newsCard__text {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 110px;
}

.newsCard__publisher {
  font-family: "Roboto Slab";
  color: var(--faded-grey);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .newsCard__image {
    height: 200px;
  }
}

@media screen and (max-width: 1040px) {
  .newsCard__info {
    padding: 16px 15px 16px 15px;
  }
}

@media screen and (max-width: 535px) {
  .newsCard__image {
    height: 196px;
  }
}
